<div class="row">
  <form class="container col s6">
    <h2>Registration</h2>
    <div class="input-field">
      <label for="firstName">First Name: </label>
      <input type="text" name="firstName" id="firstName"/>
    </div>
    <div class="input-field">
      <label for="lastName">Last Name: </label>
      <input type="text" name="lastName" id="lastName"/>
    </div>
    <div class="input-field">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email"/>
    </div>
    <div class="input-field">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password"/> 
    </div>
    <div class="input-field">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword"/> 
      </div>
    <button class="btn" type="submit">Register</button>

    
    
  </form>
  <form class="container col s6">
    <h2>Login</h2>
    <div class="input-field">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email"/>
    </div>
    <div class="input-field">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password"/> 
    </div>
    <button class="btn" type="submit">Login</button>
  </form>
</div>