<form (submit)="OnAdd()">
  <div class="form-group">
    <label for="question_quality">Decision Qualities</label>
    <select name='quality' [(ngModel)]="addInfo.quality" class="form-control" id="exampleFormControlSelect1">
      <option value='Alternative'>Alternative</option>
      <option value = 'Commitment'>Commitment to Action</option>
      <option value='Framing'>Framing</option>
      <option value='Information'>Information</option>
      <option value='Integration'>Integration</option>
      <option value='Values'>Values</option>
    </select>
  </div>
  <div class="form-group">
    <label for="question_type">Question Type</label>
    <select name='type' [(ngModel)]="addInfo.type" class="form-control" id="exampleFormControlSelect1">
      <option value='Head'>Head</option>
      <option value='Heart'>Heart</option>
    </select>
  </div>

  <div class="form-group"> 
    <label for="exampleFormControlTextarea1">Question</label>
    <textarea name='question' [(ngModel)]="addInfo.question" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>
<!-- Trigger for-loop question gen -->
<!-- <button class='btn red' (click)="generate">Generate</button>  -->