<nav>
  <div class="nav-wrapper">
      <a href="#" class="brand-logo" style='margin-left:20px;'>Find Response - Find the question you need.</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['add']">Add question</a></li>
        <li><a href="#">Browse questions</a></li>
        <li><a href="#">Signin/Signout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a [routerLink]="['add']">Add question</a></li>
    <li><a href="#">Browse questions</a></li>
    <li><a href="#">Signin/Signout</a></li>
</ul>
            

<router-outlet></router-outlet>
