<!-- User to refine search & shorten table of questions -->
<form class="container selection row" (submit)="onSelected()">
  <div class="col s12">
    <label>Question Qualities</label>
    <select name='quality' required [(ngModel)]="selected['quality']" class="custom-select custom-select-lg mb-3">
      <!-- <option value="" disabled selected>Choose your Quality</option> -->
      <option value="Alternative">Alternative</option>
      <option value="Commitment">Commitment to Action</option>
      <option value="Framing">Framing</option>
      <option value="Information">Information</option>
      <option value="Integration">Integration</option>
      <option value="Values">Values</option>
    </select>
    <p *ngIf="error">{{error}}</p>
  </div>
  <div class="col s12">
    <label>Question Types</label>
    <select name='type' required [(ngModel)]="selected['type']" class="custom-select custom-select-lg mb-3">
      <!-- <option value="" disabled selected>Choose your Type</option> -->
      <option value="Head">Head</option>
      <option value="Heart">Heart</option>
    </select>
  <p *ngIf="error">{{error}}</p>
  </div>
  <div class="col s2">
    <button type='submit' class="btn refine">Refine</button>
  </div>
</form>

<!-- display questions table -->
<table class='highlight responsive-table container'>
    <thead>
      <tr>
          <th>Decision Quality</th>
          <th>Question Type</th>
          <th>Question</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let q of questions">
      <!-- <tr *ngFor="let q of questions | filterBy: filter"> -->
        <td>{{ q.quality }}</td>
        <td>{{ q.type }}</td>
        <td>{{ q.question }}</td>
        <td class='button_box'><button class='btn green' [routerLink]="['/edit',q._id]">Edit</button><button (click)='OnDelete(q._id)'class='btn red' style='margin-left:20px;'>Delete</button></td>
      </tr>
    </tbody>
</table>